.productBullet {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19.84px;
    color: #454557;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 20px;
    border-radius: 10px;
    width: 300px;
}

.checkmark {
    margin-right: 10px;
    margin-top: 3px;
}