
.App {
  display: flex;
  // position: relative;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.AVReport {
  width: 1200px;
  height: 500px;
  margin-bottom: 80px;
}

.happyGirls {
  width: 900px;
  height: 600px;
  margin-bottom: 80px;
}

.titles {

}
